<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Colorful</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home </a>
      <a class="nav-item nav-link" href="#">Features</a>
    </div>
  </div>
  <div class="user mr-3 my-2">
    <i class="fas fa-bell"></i>
    <i class="fas fa-user ml-4"></i>
  </div>
</nav>

<h1 class="mt-3 mb-0 ml-5">Welcome back, {{userInfo.firstName}}</h1>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="banner">
          <div id="content">
            <h1><span style="font-family:DFKai-sb;">台灣百岳</span></h1>
            <h3><span style="font-family:DFKai-sb;">登高望遠</span></h3>
            <hr>
            <button class="btn btn-default btn-lg"><i class="fa fa-paw"> Get Started!</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="left-nav"></div>
  <div id="center-content">
    <section class="cities">
      <section class="city1"><a href="#">
          <div id="city1-pic">
          </div>
          <div id="city1-text">
            <h4><span style="font-family:DFKai-sb;">石門山</span></h4>
            <p><span style="font-family:DFKai-sb;">
                石門山是合歡群峰中最容易攀登的台灣百岳，海拔3237公尺，目前已鋪設有棧道與石階，從登山口出發沿著步道，約30分鐘就可登頂。步道大致與公路平行，登頂後再從原路折返。
              </span></p>
          </div>
      </section></a>
      <section class="city2"><a href="#">
          <div id="city2-pic">
          </div>
          <h4><span style="font-family:DFKai-sb;">玉山</sapn>
          </h4>
          <p><span style="font-family:DFKai-sb;">
              玉山山容氣勢磅礡、雄踞一方，四季景緻分明而優美；春天玉山杜鵑盛開、夏季雲海繚繞、秋季則遍布法國菊，冬季則雪白如玉；「玉山積雪」成為臺灣八景之一。1985年4月（民國74年），玉山群峰周邊劃入玉山國家公園中。玉山是布農族與鄒族共同的聖山之一，也是當代臺灣的象徵之一
            </span></p>
      </section></a>
      <section class="city3"><a href="#">
          <div id="city3-pic">
          </div>
          <h4><span style="font-family:DFKai-sb;">嘉明湖</span></h4>
          <p><span style="font-family:DFKai-sb;">
              嘉明湖（布農語：Cidanumas-Buan）位於台灣台東縣海端鄉，座落於三叉山東側，距向陽山直線距離7公里處，海拔3,310/11公尺，是台灣湖泊中第二高的高山湖泊，僅次於3,520公尺的雪山翠池。日治時期稱為「シヌべシ池」（Shinubeshi池）。湖面是橢圓形，湖水為湛藍色，湖面長約120公尺，寬約80公尺，面積約1.9公頃，湖水深度6公尺，沒有任何山澗或溪流流入其中，湖水卻常保終年不枯。嘉明湖位於布農族傳統領域，布農族人稱呼其為「月亮的鏡子」；又因其湖水顏色深藍如寶石，被登山界稱為「上帝遺失在人間之藍寶石」、「天使的眼淚」，是近年來著名的台灣深山景點。
            </span></p>
      </section></a>
    </section>
  </div>

</main>